extends layout

block contenuto
    div.blocco_menu
        ul.lista_menu
            li 
                a(href="/form_calcio")
                    img.icona_lista(src="002-soccer-player.png", alt="non worka")
            li 
                a(href="")
                    img(src="001-goal.png", alt="no")

        